/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "fonts";
@import "base";
@import "helpers";
@import "print";

/*///////////////////////////////////////////////////////////////////////////*/
@import "CSS:../js/libs/vendor/bootstrap/dist/css/bootstrap.min";
@import "CSS:../js/libs/vendor/components-font-awesome/css/font-awesome";

/*///////////////////////////////////////////////////////////////////////////*/
/* CUSTOM STYLES */
/*///////////////////////////////////////////////////////////////////////////*/

html,body {
    font-family:$normalFont;
    height:100%;
}

.jumbotron {
    margin-top:70px;
}

.fluid {
    img {
        width:100%;
    }
}